.app-box {
  max-width: 120rem;
  min-height: 75rem;
  margin: 5rem auto;
  padding: 0 2rem;
}

.app {
  max-width: 60rem;
  margin: 0 auto;
  padding: 4rem 2rem;

  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
