.user {
  width: 45rem;
  margin: 0 auto;
  display: flex;

  padding-bottom: 2rem;
  border-bottom: var(--line);

  &__info {
    margin-right: auto;

    display: flex;
    align-items: center;
    align-content: center;
  }

  img {
    width: 75px;
    height: 75px;
    margin-right: 2rem;
    border-radius: 5px;
  }

  &__name {
    color: var(--color-grey-dark-1);
  }

  &__activity {
    color: var(--color-grey-dark-4);
    font-size: var(--small-fs);
  }

  &__btn-box {
    display: flex;
    align-items: center;
  }

  &__btn {
    display: inline-block;
    cursor: pointer;
    border: none;
    border-radius: 5px;

    background-color: var(--color-red);
    color: var(--color-white);
    padding: 1rem 1.5rem;
    font-size: var(--default-fs);
    transition: all 0.3s;

    &:hover {
      background-color: var(--color-red-dark);
    }
  }

  /*************** QUERIES ****************/
  @include respond(phone-480) {
    max-width: 45rem;
  }

  @include respond(phone-375) {
    flex-flow: column;
    align-items: center;
    align-content: center;

    &__info {
      flex-flow: column;
      margin: 0 auto;
      text-align: center;
    }

    img {
      margin: 0 0 1rem 0;
      width: 150px;
      height: 150px;
    }

    &__btn {
      margin-top: 2rem;
    }
  }
}
