.user-chat {
  padding: 1rem 0.5rem;
  display: flex;
  align-items: center;
  align-content: center;

  &__btn-back {
    padding: 0.5rem 1rem;
    color: var(--color-grey-dark-3);
  }

  img {
    width: 75px;
    height: 75px;
    margin: 0 2rem 0 1rem;
    border-radius: 5px;
  }

  &__name {
    color: var(--color-grey-dark-2);
  }

  &__activity {
    color: var(--color-grey-dark-4);
  }

  @include respond(phone) {
    flex: 0 0 15%;
    width: 100%;
  }
}
