body {
  font-family: var(--family-primary);
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-grey-dark-3);
}

.heading-primary {
  font-size: var(--heading-primary-fs);
  font-weight: 600;
  color: var(--color-grey-dark-2);
}

.text-normal {
  font-size: var(--default-font-size);
  hyphens: auto;
}
