/*
0 - 600px:  Phone
600 - 900px:  Tablet portrait
900 - 1200px:  Tablet landscape
[1200 - 1800] normal styles
1800px + :  Big Desktop

---------------------

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + Typography > general layout + grid > page layout > components
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("@fortawesome/fontawesome-free/css/all.min.css");
:root {
  --family-primary: "Poppins", sans-serif;
  --color-primary: #007add;
  --color-primary-light: #3395e4;
  --color-primary-dark: #0062b1;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-grey-light-1: #dddddd;
  --color-grey-light-2: #bbbbbb;
  --color-grey-light-3: #aaaaaa;
  --color-grey-dark-1: #111;
  --color-grey-dark-2: #333;
  --color-grey-dark-3: #555;
  --color-grey-dark-4: #777;
  --heading-primary-fs: clamp(3rem, 2.7147rem + 1.4044vw, 4.4rem);
  --heading-secondary-fs: clamp(2.6rem, 2.3962rem + 1.0031vw, 3.6rem);
  --heading-tertiary-fs: clamp(1.6rem, 1.4777rem + 0.6019vw, 2.2rem);
  --default-fs: clamp(1.6rem, 1.5185rem + 0.4013vw, 2rem);
  --small-fs: clamp(1.2rem, 1.1185rem + 0.4013vw, 1.6rem);
  --line: 1px solid var(--color-grey-light-3);
  --line-2: 2px solid var(--color-grey-light-3); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box; }

body {
  font-family: var(--family-primary);
  font-size: var(--default-fs);
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-grey-dark-2); }

.heading-primary {
  font-size: var(--heading-primary-fs);
  font-weight: 600;
  color: var(--color-grey-dark-2); }

.text-normal {
  font-size: var(--default-font-size);
  hyphens: auto; }

/*********************************
*           LOGIN FORM           *
*********************************/
.section-loginForm {
  width: 50rem;
  height: 90rem;
  margin: 0 auto;
  padding: 2rem 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center; }
  @media only screen and (max-width: 37.5em) {
    .section-loginForm {
      width: 40rem; } }
  @media only screen and (max-width: 30em) {
    .section-loginForm {
      width: 35rem; } }
  @media only screen and (max-width: 23.44em) {
    .section-loginForm {
      width: 28rem; } }
  .section-loginForm .heading-primary {
    text-align: center; }

.loginForm label {
  color: var(--color-grey-dark-2); }

.loginForm input {
  font-family: var(--family-primary);
  font-size: var(--default-fs);
  padding: 0.5rem 0.25rem;
  outline: none;
  border: none;
  background: none;
  border-bottom: var(--line-2); }
  .loginForm input:focus {
    outline: none;
    border-bottom: 2px solid var(--color-primary); }
  .loginForm input:focus:invalid {
    border-bottom: 2px solid red; }

.loginForm input[type="submit"] {
  width: 100%;
  font-family: var(--family-primary);
  padding: 1rem 1.5rem;
  cursor: pointer;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-weight: 500;
  border: none;
  transition: all 0.3s;
  margin-bottom: 2rem; }
  .loginForm input[type="submit"]:hover, .loginForm input[type="submit"]:active {
    background-color: var(--color-primary-dark); }

.loginForm__group {
  display: flex;
  flex-flow: column nowrap; }
  .loginForm__group:not(:last-child) {
    margin-bottom: 2rem; }

.loginForm__sign-text {
  display: inline-block;
  margin-right: 1rem;
  font-size: var(--small-fs); }

.loginForm__reg-link {
  text-decoration: none;
  color: var(--color-grey-dark-4);
  font-size: var(--small-fs); }
  .loginForm__reg-link:hover, .loginForm__reg-link:active {
    color: var(--color-primary-dark); }

/*********************************
  *        REGISTRATION FORM       *
  *********************************/
.section-registrationForm {
  width: 50rem;
  height: 90rem;
  margin: 0 auto;
  padding-top: 2rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center; }
  @media only screen and (max-width: 37.5em) {
    .section-registrationForm {
      width: 40rem; } }
  @media only screen and (max-width: 30em) {
    .section-registrationForm {
      width: 35rem; } }
  @media only screen and (max-width: 23.44em) {
    .section-registrationForm {
      width: 28rem; } }
  .section-registrationForm .heading-primary {
    text-align: center; }

.registrationForm label {
  color: var(--color-grey-dark-2); }

.registrationForm input {
  font-family: var(--family-primary);
  font-size: var(--default-fs);
  width: 100%;
  outline: none;
  border: none;
  background: none;
  border-bottom: var(--line-2); }
  .registrationForm input:focus {
    outline: none;
    border-bottom: 2px solid var(--color-primary); }
  .registrationForm input:focus:invalid {
    border-bottom: 2px solid red; }

.registrationForm input[type="submit"] {
  width: 100%;
  font-family: var(--family-primary);
  padding: 1rem 1.5rem;
  cursor: pointer;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-weight: 500;
  border: none;
  transition: all 0.3s;
  margin-bottom: 2rem; }
  .registrationForm input[type="submit"]:hover, .registrationForm input[type="submit"]:active {
    background-color: var(--color-primary-dark); }

.registrationForm input[type="file"] {
  border: none;
  margin-top: 1rem; }

.registrationForm img {
  margin: 1rem 0; }

.registrationForm__group {
  width: 100%;
  display: flex;
  flex-flow: column nowrap; }
  .registrationForm__group:not(:last-child) {
    margin-bottom: 2rem; }

.registrationForm__group--two-cols {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 2rem; }
  @media only screen and (max-width: 23.44em) {
    .registrationForm__group--two-cols {
      display: block; } }
  .registrationForm__group--two-cols__col {
    flex: 0 0 50%;
    display: flex;
    flex-flow: column nowrap; }
    @media only screen and (max-width: 23.44em) {
      .registrationForm__group--two-cols__col {
        display: block;
        margin-bottom: 2rem; } }
    .registrationForm__group--two-cols__col label {
      text-align: center; }
    .registrationForm__group--two-cols__col input {
      width: 90%; }
      @media only screen and (max-width: 23.44em) {
        .registrationForm__group--two-cols__col input {
          width: 100%; } }
  .registrationForm__group--two-cols__col:last-child input {
    align-self: flex-end; }

.registrationForm__sign-text {
  display: inline-block;
  margin-right: 1rem;
  font-size: var(--small-fs); }

.registrationForm__reg-link {
  text-decoration: none;
  color: var(--color-grey-dark-4);
  font-size: var(--small-fs); }
  .registrationForm__reg-link:hover, .registrationForm__reg-link:active {
    color: var(--color-primary-dark); }

.logo-box {
  width: 100%;
  display: flex;
  justify-content: center; }

.form-logo {
  width: 100px;
  height: 100px; }

.error-box {
  display: none;
  background-color: #ff6e6e;
  padding: 0.5rem 0.25rem; }
  .error-box__text {
    text-align: center;
    color: #721e1e; }

/*********************************
*       COPYRIGHT                *
*********************************/
.copy-box {
  font-size: var(--small-fs);
  margin: 1rem 0 0.5rem 1rem; }
  .copy-box__author {
    text-decoration: none;
    color: var(--color-grey-dark-2); }
  .copy-box p {
    display: inline; }
