/*
0 - 600px:  Phone
600 - 900px:  Tablet portrait
900 - 1200px:  Tablet landscape
[1200 - 1800] normal styles
1800px + :  Big Desktop

---------------------

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + Typography > general layout + grid > page layout > components
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("@fortawesome/fontawesome-free/css/all.min.css");
:root {
  --family-primary: "Poppins", sans-serif;
  --color-primary: #007add;
  --color-primary-light: #3395e4;
  --color-primary-dark: #0062b1;
  --color-red: #ff0000;
  --color-red-light: #ff3333;
  --color-red-dark: #cc0000;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-grey-light-1: #dddddd;
  --color-grey-light-2: #bbbbbb;
  --color-grey-light-3: #aaaaaa;
  --color-grey-dark-1: #111111;
  --color-grey-dark-2: #333333;
  --color-grey-dark-3: #555555;
  --color-grey-dark-4: #777777;
  --color-grey-dark-5: #999999;
  --heading-primary-fs: clamp(3rem, 2.7147rem + 1.4044vw, 4.4rem);
  --heading-secondary-fs: clamp(2.6rem, 2.3962rem + 1.0031vw, 3.6rem);
  --heading-tertiary-fs: clamp(1.6rem, 1.4777rem + 0.6019vw, 2.2rem);
  --default-fs: clamp(1.6rem, 1.5185rem + 0.4013vw, 2rem);
  --small-fs: clamp(1.2rem, 1.1185rem + 0.4013vw, 1.6rem);
  --line: 1px solid var(--color-grey-light-3);
  --line-2: 2px solid var(--color-grey-light-3); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box; }

body {
  font-family: var(--family-primary);
  font-size: var(--default-fs);
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-grey-dark-2); }

.heading-primary {
  font-size: var(--heading-primary-fs);
  font-weight: 600;
  color: var(--color-grey-dark-2); }

.text-normal {
  font-size: var(--default-font-size);
  hyphens: auto; }

/*********************************
*           LOGIN FORM           *
*********************************/
.loginForm-box {
  width: 50rem;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  /*************** QUERIES ****************/ }
  .loginForm-box .heading-primary {
    text-align: center; }
  @media only screen and (max-width: 37.5em) {
    .loginForm-box {
      width: 40rem; } }
  @media only screen and (max-width: 30em) {
    .loginForm-box {
      width: 35rem; } }
  @media only screen and (max-width: 23.44em) {
    .loginForm-box {
      width: 28rem; } }

.loginForm label {
  color: var(--color-grey-dark-2); }

.loginForm input {
  font-family: var(--family-primary);
  font-size: var(--default-fs);
  padding: 0.5rem 0.25rem;
  outline: none;
  border: none;
  background: none;
  border-bottom: var(--line-2); }
  .loginForm input:focus {
    outline: none;
    border-bottom: 2px solid var(--color-primary); }
  .loginForm input:focus:invalid {
    border-bottom: 2px solid red; }

.loginForm input[type="submit"] {
  width: 100%;
  font-family: var(--family-primary);
  padding: 1rem 1.5rem;
  cursor: pointer;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-weight: 500;
  border: none;
  transition: all 0.3s;
  margin-bottom: 2rem; }
  .loginForm input[type="submit"]:hover, .loginForm input[type="submit"]:active {
    background-color: var(--color-primary-dark); }

.loginForm__group {
  display: flex;
  flex-flow: column nowrap; }
  .loginForm__group:not(:last-child) {
    margin-bottom: 2rem; }

.loginForm__sign-text {
  display: inline-block;
  margin-right: 1rem;
  font-size: var(--small-fs); }

.loginForm__reg-link {
  text-decoration: none;
  color: var(--color-grey-dark-4);
  font-size: var(--small-fs); }
  .loginForm__reg-link:hover, .loginForm__reg-link:active {
    color: var(--color-primary-dark); }

/*********************************
  *        REGISTRATION FORM       *
  *********************************/
.registrationForm-box {
  width: 50rem;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center; }
  @media only screen and (max-width: 37.5em) {
    .registrationForm-box {
      width: 40rem; } }
  @media only screen and (max-width: 30em) {
    .registrationForm-box {
      width: 35rem; } }
  @media only screen and (max-width: 23.44em) {
    .registrationForm-box {
      width: 28rem; } }
  .registrationForm-box .heading-primary {
    text-align: center; }

.registrationForm {
  /*************** QUERIES ****************/ }
  .registrationForm label {
    color: var(--color-grey-dark-2); }
  .registrationForm input {
    font-family: var(--family-primary);
    font-size: var(--default-fs);
    width: 100%;
    outline: none;
    border: none;
    background: none;
    border-bottom: var(--line-2); }
    .registrationForm input:focus {
      outline: none;
      border-bottom: 2px solid var(--color-primary); }
    .registrationForm input:focus:invalid {
      border-bottom: 2px solid red; }
  .registrationForm input[type="submit"] {
    width: 100%;
    font-family: var(--family-primary);
    padding: 1rem 1.5rem;
    cursor: pointer;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-weight: 500;
    border: none;
    transition: all 0.3s;
    margin-bottom: 2rem; }
    .registrationForm input[type="submit"]:hover, .registrationForm input[type="submit"]:active {
      background-color: var(--color-primary-dark); }
  .registrationForm input[type="file"] {
    border: none;
    margin-top: 1rem; }
  .registrationForm img {
    margin: 1rem 0; }
  .registrationForm__group {
    width: 100%;
    display: flex;
    flex-flow: column nowrap; }
    .registrationForm__group:not(:last-child) {
      margin-bottom: 2rem; }
  .registrationForm__group--two-cols {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 2rem; }
    .registrationForm__group--two-cols__col {
      flex: 0 0 50%;
      display: flex;
      flex-flow: column nowrap; }
      .registrationForm__group--two-cols__col label {
        text-align: center; }
      .registrationForm__group--two-cols__col input {
        width: 90%; }
    .registrationForm__group--two-cols__col:last-child input {
      align-self: flex-end; }
  .registrationForm__sign-text {
    display: inline-block;
    margin-right: 1rem;
    font-size: var(--small-fs); }
  .registrationForm__reg-link {
    text-decoration: none;
    color: var(--color-grey-dark-4);
    font-size: var(--small-fs); }
    .registrationForm__reg-link:hover, .registrationForm__reg-link:active {
      color: var(--color-primary-dark); }
  @media only screen and (max-width: 23.44em) {
    .registrationForm__group--two-cols {
      display: block; }
      .registrationForm__group--two-cols__col {
        margin-bottom: 2rem;
        align-items: flex-start; }
        .registrationForm__group--two-cols__col input {
          width: 100%; } }

.user {
  width: 45rem;
  margin: 0 auto;
  display: flex;
  padding-bottom: 2rem;
  border-bottom: var(--line);
  /*************** QUERIES ****************/ }
  .user__info {
    margin-right: auto;
    display: flex;
    align-items: center;
    align-content: center; }
  .user img {
    width: 75px;
    height: 75px;
    margin-right: 2rem;
    border-radius: 5px; }
  .user__name {
    color: var(--color-grey-dark-1); }
  .user__activity {
    color: var(--color-grey-dark-4);
    font-size: var(--small-fs); }
  .user__btn-box {
    display: flex;
    align-items: center; }
  .user__btn {
    display: inline-block;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: var(--color-red);
    color: var(--color-white);
    padding: 1rem 1.5rem;
    font-size: var(--default-fs);
    transition: all 0.3s; }
    .user__btn:hover {
      background-color: var(--color-red-dark); }
  @media only screen and (max-width: 30em) {
    .user {
      max-width: 45rem; } }
  @media only screen and (max-width: 23.44em) {
    .user {
      flex-flow: column;
      align-items: center;
      align-content: center; }
      .user__info {
        flex-flow: column;
        margin: 0 auto;
        text-align: center; }
      .user img {
        margin: 0 0 1rem 0;
        width: 150px;
        height: 150px; }
      .user__btn {
        margin-top: 2rem; } }

.user-sm {
  max-width: 45rem;
  margin: 2rem auto;
  display: flex;
  border: var(--line);
  border-radius: 5px;
  padding: 1rem;
  cursor: pointer; }
  .user-sm:hover {
    background-color: var(--color-grey-light-1); }
  .user-sm__info {
    margin-right: auto;
    display: flex;
    align-items: center;
    align-content: center; }
  .user-sm img {
    border-radius: 5px;
    margin-right: 1rem;
    width: 60px;
    height: 60px; }
  .user-sm__name {
    color: var(--color-grey-dark-2); }
  .user-sm__last-mess {
    color: var(--color-grey-dark-4);
    font-size: var(--small-fs); }
  .user-sm__status-box {
    display: flex;
    align-items: center;
    align-content: center; }
  .user-sm__status {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center; }
    .user-sm__status--online {
      background-color: green; }
    .user-sm__status--offline {
      background-color: var(--color-grey-dark-4); }

.search-form {
  max-width: 45rem;
  margin: 4rem auto;
  display: flex;
  /*************** QUERIES ****************/ }
  .search-form input {
    font-size: var(--default-sm); }
  .search-form input[type="text"] {
    width: 100%;
    padding: 1rem 0;
    color: var(--color-grey-dark-3);
    background: none;
    flex: 1;
    border: none; }
    .search-form input[type="text"]:focus {
      outline: none; }
  .search-form input[type="submit"] {
    border-radius: 5px;
    padding: 1rem 1.5rem;
    border: none;
    background-color: var(--color-primary);
    color: var(--color-white);
    cursor: pointer;
    transition: all 0.3s; }
    .search-form input[type="submit"]:hover {
      background-color: var(--color-primary-dark); }
  @media only screen and (max-width: 23.44em) {
    .search-form {
      flex-flow: column; }
      .search-form input[type="submit"] {
        margin-top: 2rem; } }

.chat {
  max-width: 60rem;
  width: 100%;
  margin: 0 auto;
  padding: 4rem 2rem;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); }

.dashboard {
  max-width: 120rem;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  align-content: center; }

/*********************************
*       USERS LIST               *
*********************************/
.search-users-box {
  max-width: 60rem;
  margin: 4rem auto 0 auto;
  padding: 4rem 2rem;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); }
  @media only screen and (max-width: 37.5em) {
    .search-users-box {
      margin: 0 auto;
      padding: 4rem 1rem;
      box-shadow: none; } }

/*********************************
*       LOGO                     *
*********************************/
.logo-box {
  width: 100%;
  display: flex;
  justify-content: center; }

.form-logo {
  width: 100px;
  height: 100px; }

/*********************************
*       ERROR BOX                *
*********************************/
.error-box {
  display: none;
  background-color: #ff6e6e;
  padding: 0.5rem 0.25rem; }
  .error-box__text {
    text-align: center;
    color: #721e1e; }

/*********************************
*       COPYRIGHT                *
*********************************/
.copy-box {
  font-size: var(--small-fs);
  margin: 4rem 0 0.5rem 2rem; }
  .copy-box__author {
    text-decoration: none;
    color: var(--color-grey-dark-2); }
  .copy-box p {
    display: inline; }
