.dashboard {
  max-width: 120rem;
  min-height: 100vh;
  margin: 0 auto;
  padding: 4rem 2rem;

  display: flex;
  align-items: center;
  align-content: center;

  @include respond(phone) {
    align-items: flex-start;
    align-content: flex-start;
    padding: 2rem 1rem;
  }
}

/*********************************
*       LOGIN FORM   PAGE        *
*********************************/

.loginForm-box {
  width: 50rem;
  margin: 0 auto;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  .heading-primary {
    text-align: center;
  }

  /*************** QUERIES ****************/

  @include respond(phone) {
    width: 40rem;
    align-self: center;
  }

  @include respond(phone-480) {
    width: 35rem;
  }

  @include respond(phone-375) {
    width: 28rem;
  }
}

.password-box {
  display: flex;
  position: relative;

  input {
    flex: 1;
  }

  .icon {
    font-size: 2.8rem;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
    padding: 1rem 0.5rem;
    z-index: 10;
    color: var(--color-grey-dark-4);
    display: none;
  }

  .icon-active {
    display: inline-block;
  }
}

/*********************************
*      REGISTER FROM PAGE        *
*********************************/

.registrationForm-box {
  width: 50rem;
  margin: 0 auto;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  @include respond(phone) {
    width: 40rem;
  }

  @include respond(phone-480) {
    width: 35rem;
  }

  @include respond(phone-375) {
    width: 28rem;
  }

  .heading-primary {
    text-align: center;
  }
}

/*********************************
*       USERS SEARCH PAGE        *
*********************************/

.search-users-box {
  width: 50rem;
  max-width: 100%;
  margin: 0 auto;
  padding: 4rem 2rem;

  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);

  @include respond(phone) {
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    box-shadow: none;
  }
}

.users-list {
  height: 26rem;
  overflow-y: auto;

  @include respond(phone) {
    height: 38rem;
  }
}
.users-list::-webkit-scrollbar {
  width: 0;
}

/*********************************
*       CHAT PAGE                *
*********************************/

.chat-box {
  max-width: 120rem;
  min-height: 100vh;
  margin: 0 auto;
  padding: 4rem 2rem;

  display: flex;
  align-items: center;
  align-content: center;

  @include respond(phone) {
    align-items: flex-start;
    align-content: flex-start;
    padding: 0;
  }
}

.chat {
  max-width: 60rem;
  width: 100%;
  margin: 0 auto;

  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);

  @include respond(phone) {
    width: 100%;
    margin: 0 auto;
    box-shadow: none;
  }
}

.messages-box {
  background-color: #dddddd;
  padding: 2rem;
  height: 50rem;
  overflow-y: auto;

  @include respond(phone) {
    padding: 1rem;
  }
}

/* Hide scrollbar */
.messages-box::-webkit-scrollbar {
  width: 0;
}

.text-form {
  padding: 1rem 0;
  width: 80%;
  margin: 0 auto;
  display: flex;

  input {
    padding: 0.5rem 1rem;
    border: none;
  }

  input[type="text"] {
    flex: 1;
    font-size: var(--default-fs);
    margin-right: auto;
    padding: 1rem 0.5rem;
    border-radius: 5px;
    border: 1px solid var(--color-black);
    margin-right: 0.5rem;
    color: var(--color-grey-dark-3);

    &:focus {
      outline: none;
    }
  }

  input[type="submit"] {
    font-size: var(--default-fs);
    cursor: pointer;
    background-color: var(--color-primary);
    color: var(--color-white);
    transition: all 0.3s;
    border-radius: 5px;

    &:hover {
      background-color: var(--color-primary-dark);
    }
  }
}

/*********************************
*       LOGO                     *
*********************************/

.logo-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.form-logo {
  width: 100px;
  height: 100px;
  margin-right: 1rem;
}

/*********************************
*       ERROR BOX                *
*********************************/

.error-box {
  display: none;
  background-color: rgb(255, 110, 110);
  padding: 0.5rem 0.25rem;

  &__text {
    text-align: center;
    color: rgb(114, 30, 30);
  }
}
